Body, html {
    Margin: 0;
    Padding: 0;
    Width: 100%;
    Height: 100%;
    Font-family: Arial, sans-serif;

}
Header {
    Background: #333;
    Padding: 10px 0;
    Color: white;
}
Header ul {
    List-style: none;
    Padding: 0;
    Margin: 0;
    Display: flex;
    Justify-content: center;
}
Header ul li {
    Margin: 0 15px;
}
Header ul li a {
    Color: white;
    Text-decoration: none;
}
.landing-image {
    Background: url('images/baab898b47aff8f168978cda57219aec.jpg') no-repeat center center/cover;
    Width: 100%;
    Height: 70vh;
    background-color: black;
}
.form-container {
    Text-align: center;
    Padding: 20px;
    background-color:aliceblue ;
}
Form {
    Display: none;
    Margin: 20px auto;
    Width: 300px;
    background-color: black;
}
Form input {
    Display: block;
    Width: 100%;
    Padding: 10px;
    Margin: 10px 0;
}
.form-container p {
    Font-size: 18px;
}
.buttons {
    Margin: 20px;
}
.buttons button {
    Padding: 10px 20px;
    Margin: 0 10px;
    Cursor: pointer;
}

